<div class="grid">
    <div class="avatar-function">
        <div class="avatar-frame">
            <img src="" alt="">
        </div>
        <div class="btn-function">
            <button class="btn" data-bs-toggle="modal" data-bs-target="#editProfile">Edit Profile</button>
            <button class="btn" data-bs-toggle="modal" data-bs-target="#Logout">Change Password</button>
        </div>
    </div>
    <div class="profile-detail">
        <p for="">Ten</p><input class="form-control" disabled type="text">
        <p for="">Ho va chu lot</p><input class="form-control" type="text">
        <p for="">Ngay sinh</p><input class="form-control" type="text">
        <p for="">Email</p><input class="form-control" type="text">
        <p for="">So dien thoai</p><input class="form-control" type="text">
        <p for="">Dia chi</p><input class="form-control" type="text">
        <p for="">Gioi tinh</p><input class="form-control" type="text">
        
    </div>
</div>

<!--Edit Profile Modal-->
<div class="modal fade" id="editProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="Logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>